<div class="pure-u-1">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="#">File</a></li>
            <li><a href="#">Edit</a></li>
            <li><input type="color"></li>
        </ul>
    </div>
</div>
